<% if @request.errors.any? %>
  <div id="explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@request.errors.count, "error") %>.
    </div>
    <ul id="error">
    <%= @request.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <%  end %>
    </ul>
  </div>
<% end %>
